@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "https://fonts.googleapis.com/css?family=Lato";

body * {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body > header {
    padding-top: 20px;
    background: url('footballer.jpg') no-repeat;
    background-size: cover;
    height: 600px;
} 

nav, ul {
    list-style: none;
}

.nav-item a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: #AA0001;
    border: 1px solid #7d7d7d;  
    border-radius: 7px;
    padding: 5px;
}

nav {
    color: #AA0001;
    float: right;
}


nav ul.nav-primary {
    color: black;
    display: flex;
    justify-content: right;

}

.nav-item {
    line-height: 60px;
    margin-top: 15px;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    justify-content: right;

}

h3 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: white;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #fe0000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 570px;
  margin-top: 40px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.promotion{
    width: 500px;
    margin: 0 auto;
   
}

.promotion h1 {
    color: white;
    padding-top: 5px;
    font-size: 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 200px;
    margin-bottom: 50px;
}

.promotion p {
    font-size: 14px;
    width: 400px;
    margin-top: 50px;
    color: black;
    text-align: center;
    margin: auto;
}

.promotion a {
    margin: 20px auto;
    margin-top: 100px;
    display: block;
    width: 120px;
    height: 25px;
    background: #c79d63;
    padding: 10px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
    color: white;
    font-weight: 900;
    text-decoration: none;
}

.info {
    text-align: center;
   
}

figcaption {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: white;
}


.presentation img {
    padding-top: 35px;
    padding-bottom: 16px;
    margin-top: 40px;
    position: relative;
    top: 1px;
    width: 200px;
    height: 200px;
}

.presentation li p {
    color: lightgrey;
}

.presentation {
    background-color: #004f92;
    padding-bottom: 50px;
}

.presentation li {
    display: inline-block;
    width: 300px;
}

main p {
    font-size: 16px;
    margin: 10px 0 0;
    text-transform: none;
}


#events {
    position: relative;
    color: white;
    text-align: center;
    padding: 50px 0;
    background-color: #004f92;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#events::after {
    content: '';
    position: absolute;
    left: -12.5%;
    right: -12.5%;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: -1;
}

#events form {
    margin-top: 20px;
    padding-top: 10px;
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
}


form p {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
    font-weight: 100;
}

#events div {
    padding-top: 10px;
    margin: 40px 0;
}

form input {
    border: none;
    background: none;
    border-bottom: 3px solid white;
}

::-webkit-input-placeholder {
    color: white;
    font-size: 1.2em;
}

form button {
    border: none;
    padding: 10px 25px;
    background-color: #00ac00;
    text-transform: uppercase;
    color: white;
    border-radius: 18px;
    margin-left: 40px;
}

footer {
    padding-top: 50px;
    background-color: #004f92;
    color: white;
}

footer p {
    padding-left: 30px;
    color: grey;
    vertical-align: center;
}

footer ul {
    float: right;
    vertical-align: center;
}

footer ul li {
    display: inline-block;
    margin: 10px;
    
}

footer ul li a {
    text-decoration: underline;
    color: #DCDCDC;
}


.payments {
    background-color: #004f92;
}

.payments img {
    display: inline-block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}